extends layouts/default.pug

block content
  main
    article.welcome
      header.welcome__header
        h1 CSS Complete Guide Website
        p Exploring CSS in all its variations
      section.welcome__body
        h1 Main Content Area
        h2 CSS Complete Guide Website
        p 
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, temporibus? Quibusdam accusantium dicta laudantium ut iste commodi, iure reiciendis eligendi quae velit consequuntur dolores. 
          span Lorem ipsum 
          | dolor sit amet consectetur adipisicing elit. Suscipit libero voluptatum distinctio sunt veniam quasi dolores itaque expedita deleniti natus?
        h2 More information
        ul
          li item1
            ul
              li 
                span span item1
              li item2
              li item3
          li item3
          li item4
      footer.welcome__footer
        a(href="#") Website Link
        h2 CSS Complete Guide Website
        p Some more text visible here
        .welcome__cta.welcome__cta--shadow
          h3 Learn More
          button(disabled) Click Here